build
*.egg-info
venv
__pycache__
.cache
.local
.bash_history
config.yaml
config.test.yaml
.venv
temp
*.pem
client-config.yaml
client-config.test.yaml
configs
.venv-local
batch
logs
.coverage
cov
test-results.html
.jsonl
temp.*
flakey.yaml
extensions
plugins
plugins.yaml
mysql-data
.data
dist
test.md
*.log
.env
